* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
header {
  display: flex;
  align-items: center;
  height: 1rem;
  width: 100%;
  position: relative;
  top: 2rem;
}
.main ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  position: relative;
  font-size: 1.2rem;
  left: 25.3rem;
  top: 0.8rem;
  color: white;
}
.main ul li {
  cursor: pointer;
}
.main ul li a {
  text-decoration: none;
  color: white;
}
header h1 {
  position: relative;
  left: 4rem;
  top: 1.2rem;
  color: white;
  cursor: pointer;
}
header h3 {
  position: relative;
  left: 9rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}
.content {
  width: 50%;
  position: relative;
  left: 2rem;
}
.content h1 {
  color: white;
  position: relative;
  top: 5rem;
  left: 35rem;
  width: 20rem;
}
.content h2 {
  color: white;
  position: relative;
  top: 7rem;
  left: 15rem;
  width: 15rem;
}
.fullname {
  position: relative;
  top: 8.5rem;
  left: 14.7rem;
  width: 20rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
}
.fullname::placeholder {
  /* color: #fff; */
  font-size: 1rem;
}
input:focus {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 0.5rem;
}
input {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 0.5rem;
}
textarea:focus ~ .floating-label1,
textarea:not(:focus):valid ~ .floating-label1 {
  position: relative;
  top: -1.9rem;
  left: -5.3rem;
  font-size: 0.9rem;
  opacity: 1;
  color: white;
}
textarea:focus::placeholder {
  color: white;
}
textarea::placeholder {
  position: relative;
  top: 4rem;
  left: 8rem;
  width: 4rem;
}
textarea:focus {
  padding: 1rem;
  font-size: 1rem;
}
.floating-label1 {
  position: relative;
  font-size: 1rem;
  top: 7.5rem;
  pointer-events: none;
  left: 0rem;
  color: white;
  transition: 0.2s ease all;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  position: relative;
  top: 6.4rem;
  left: -5.5rem;
  font-size: 0.9rem;
  opacity: 1;
  color: white;
}
.floating-label {
  position: relative;
  font-size: 1rem;
  top: 8rem;
  pointer-events: none;
  left: 1.4rem;
  color: white;
  transition: 0.2s ease all;
}
.input-container input:focus::placeholder {
  color: transparent;
}
.input-container {
  margin-bottom: 2.5rem;
}
#message {
  position: relative;
  top: 9rem;
  left: 14.5rem;
  resize: none;
  width: 20rem;
  height: 10rem;
}
.btn {
  width: 20rem;
  height: 3rem;
  position: relative;
  top: 8rem;
  left: 14.5rem;
  background-color: rgb(92, 88, 83);
  cursor: pointer;
}
.error {
  color: red;
  font-size: 14px;
  position: relative;
  top: 6.5rem;
  left: 14.5rem;
  width: 15rem;
  height: 0.2rem;
}
.error2 {
  color: red;
  font-size: 14px;
  position: relative;
  top: 8.9rem;
  left: 14.5rem;
  width: 15rem;
  height: 0.2rem;
}
.right {
  position: relative;
  left: 50.5rem;
  width: 40%;
  bottom: 18.5rem;

  height: 2rem;
}
.right i {
  background-color: white;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.right h3 {
  color: white;
  position: relative;
  left: 5rem;
  font: 0.5rem;
  width: 20rem;
  bottom: 2.6rem;
}
#google_translate_element {
  width: 30rem;

  height: 30rem;
  background-color: red;
  position: relative;
  left: 2rem;
  top: 100rem;
  z-index: 1;
}
#google_translate_element select {
  background-color: transparent;

  cursor: pointer;
}
header h3 a {
  text-decoration: none;
  color: white;
}
header h1 a {
  text-decoration: none;
  color: white;
}
.switch {
  position: absolute;
  display: inline-block;
  margin: 0 5px;
  right: 2rem;
  top: 2.2rem;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle:checked ~ .off {
  color: #000;
}

input.check-toggle:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #000;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  /* margin-left: -9999px; */
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 34px;
  background-color: #ffffff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 20px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #000000;

  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #ffffff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}
#logo {
  position: absolute;
  top: -2.5rem;
  left: 6.5rem;
  width: 8rem;
}
