* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  height: 1rem;
  width: 100%;
  position: relative;
  top: 2rem;
  z-index: 1;
}
.main ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  position: relative;
  font-size: 1.2rem;
  left: 25.3rem;
  top: 0.8rem;
  color: white;
}
.main ul li {
  cursor: pointer;
}
.main ul li a {
  text-decoration: none;
  color: white;
}
header h1 {
  position: relative;
  left: 4rem;
  top: 1.2rem;
  color: white;
  cursor: pointer;
}
header h3 a {
  text-decoration: none;
  color: white;
}
header h3 {
  position: relative;
  left: 9rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}
header h1 a {
  text-decoration: none;
  color: white;
}
.img {
  position: absolute;
  z-index: 0;
  bottom: 0rem;
  width: 100%;
}
.h11 {
  font-size: 4rem;
  text-align: center;
  color: white;
  position: absolute;
  left: 17rem;
  width: 50rem;
  top: 15rem;
  cursor: default;
}
.under1 {
  position: relative;
  top: 39rem;
  display: flex;
  width: 100%;
  padding-top: 10rem;
  /* background: linear-gradient(45deg, rgb(45, 122, 45), rgb(171, 233, 171)); */
}
.img2 img {
  width: 40rem;
  position: relative;
  left: 4rem;
  border-radius: 20px;
}
.under1 p {
  width: 40%;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 5rem;
  color: rgb(82, 81, 78);
  position: relative;
  left: 7rem;
  bottom: 2rem;
}
.under2 {
  position: relative;
  top: 39rem;
  display: flex;
  width: 100%;
  margin-top: 3rem;
  /* background: linear-gradient(45deg, rgb(45, 122, 45), rgb(171, 233, 171)); */
}
.img3 img {
  width: 40rem;
  position: relative;
  left: 42rem;
  border-radius: 20px;
}
.under2 p {
  width: 40%;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 5rem;
  color: rgb(82, 81, 78);
  position: relative;
  right: 36rem;
  bottom: 2rem;
}
.under3 {
  position: relative;
  top: 39rem;
  display: flex;
  width: 100%;

  /* background: linear-gradient(45deg, rgb(45, 122, 45), rgb(171, 233, 171)); */
}
.img4 img {
  width: 40rem;
  position: relative;
  left: 4rem;
  border-radius: 20px;
}
.under3 p {
  width: 40%;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 5rem;
  color: rgb(82, 81, 78);
  position: relative;
  left: 7rem;
  bottom: 0rem;
}
.switch {
  position: absolute;
  display: inline-block;
  margin: 0 5px;
  top: 2.2rem;
  z-index: 1;
  right: 2rem;
}
.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle:checked ~ .off {
  color: #000;
}

input.check-toggle:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #000;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  /* margin-left: -9999px; */
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 34px;
  background-color: #ffffff;
  opacity: 0.4;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #000000;
  opacity: 0, 2;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #ffffff;
  opacity: 1;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}
#logo {
  position: absolute;
  top: -2.5rem;
  left: 6.5rem;
  width: 8rem;
}
